<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Saludo</display-name>
    <servlet-name>Saludo</servlet-name>
    <servlet-class>Saludo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saludo</servlet-name>
    <url-pattern>/Saludo</url-pattern>
  </servlet-mapping>
  <display-name>Ejemplo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Potencia</display-name>
    <servlet-name>Potencia</servlet-name>
    <servlet-class>Potencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Potencia</servlet-name>
    <url-pattern>/Potencia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cuenta</display-name>
    <servlet-name>Cuenta</servlet-name>
    <servlet-class>Cuenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cuenta</servlet-name>
    <url-pattern>/Cuenta</url-pattern>
  </servlet-mapping>
</web-app>