<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Libros</display-name>
    <servlet-name>Libros</servlet-name>
    <servlet-class>servlets.Libros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Libros</servlet-name>
    <url-pattern>/Libros</url-pattern>
  </servlet-mapping>
  <display-name>LibrosAutores</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Autores</display-name>
    <servlet-name>Autores</servlet-name>
    <servlet-class>servlets.Autores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autores</servlet-name>
    <url-pattern>/Autores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Autores_descripcion</display-name>
    <servlet-name>Autores_descripcion</servlet-name>
    <servlet-class>servlets.Autores_descripcion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autores_descripcion</servlet-name>
    <url-pattern>/Autores_descripcion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Libros_descripcion</display-name>
    <servlet-name>Libros_descripcion</servlet-name>
    <servlet-class>servlets.Libros_descripcion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Libros_descripcion</servlet-name>
    <url-pattern>/Libros_descripcion</url-pattern>
  </servlet-mapping>
</web-app>